In [ ]:
## Keep in mind

# by using agg along with groupby, we can run multiple methods (mix, max, median) at the same time.

# when we groupby using multiple columns, pandas creates a multiindex using the columns specified in the groupby.
# Use reset_index() to convert it back to a regualar index.
# reset_index() before sorting on the aggregated values. Use sort_values()
# use sort_index() to sort on index columns.

In [2]:
import pandas as pd

X = pd.read_csv("train.csv", index_col='Id')
X.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
# getting counts of MSSubClass. Equivalent to groupby. See the next cell.
X.MSSubClass.value_counts()

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64

In [7]:
# implementing value_counts by groupby
X.groupby('MSSubClass').MSSubClass.count()

MSSubClass
20     536
30      69
40       4
45      12
50     144
60     299
70      60
75      16
80      58
85      20
90      52
120     87
160     63
180     10
190     30
Name: MSSubClass, dtype: int64

In [10]:
# get median SalePrice for each 'MSSubClass'
X.groupby('MSSubClass').SalePrice.median()

MSSubClass
20     159250
30      99900
40     142500
45     107500
50     132000
60     215200
70     156000
75     163500
80     166500
85     140750
90     135980
120    192000
160    146000
180     88500
190    128250
Name: SalePrice, dtype: int64

In [13]:
# get the median SalePrice using a lambda function.
X.groupby('MSSubClass').apply(lambda df: df.SalePrice.median())

MSSubClass
20     159250.0
30      99900.0
40     142500.0
45     107500.0
50     132000.0
60     215200.0
70     156000.0
75     163500.0
80     166500.0
85     140750.0
90     135980.0
120    192000.0
160    146000.0
180     88500.0
190    128250.0
dtype: float64

In [14]:
# groupby essentially divides the dataframe into slices. We can use an apply() on each slice.
# for each MSSubClass, get the difference between the average and median SalePrice of houses.
X.groupby('MSSubClass').apply(lambda df: df.SalePrice.mean()) - X.groupby('MSSubClass').apply(lambda df: df.SalePrice.median())

MSSubClass
20     25974.811567
30     -4070.275362
40     13625.000000
45      1091.666667
50     11302.972222
60     24748.501672
70     10772.416667
75     28937.500000
80      3236.551724
85      7060.000000
90     -2438.923077
120     8779.080460
160    -7352.619048
180    13800.000000
190     1363.333333
dtype: float64

In [22]:
# For each 'MSSubClass' and 'LotShape', getting all the records with max SalePrice for each group
X.groupby(['MSSubClass','LotShape']).apply(lambda df: df.loc[df.SalePrice.idxmax()])

                     MSSubClass MSZoning  LotFrontage  LotArea Street Alley  \
MSSubClass LotShape
20         IR1               20       RL        100.0    12919   Pave   NaN
           IR2               20       RL         49.0    20896   Pave   NaN
           IR3               20       RL        150.0   215245   Pave   NaN
           Reg               20       RL        105.0    15431   Pave   NaN
30         IR1               30       RL         80.0    13360   Pave  Grvl
           IR3               30       RM         30.0     5232   Pave  Grvl
           Reg               30       RM         90.0     8100   Pave  Pave
40         Reg               40       RL          NaN    23595   Pave   NaN
45         IR1               45       RM         55.0     4388   Pave   NaN
           Reg               45       RM         57.0     7449   Pave  Grvl
50         IR1               50       RL         56.0    14720   Pave   NaN
           IR2               50       RL          NaN   159000   Pave   NaN
           Reg               50       RL         85.0    10678   Pave   NaN
60         IR1               60       RL        104.0    21535   Pave   NaN
           IR2               60       RL         47.0    53504   Pave   NaN
           IR3               60       RL        168.0    23257   Pave   NaN
           Reg               60       RL        107.0    13891   Pave   NaN
70         IR1               70       RM         65.0    11700   Pave  Pave
           Reg               70       RL         78.0    12168   Pave   NaN
75         IR1               75       RL          NaN    11888   Pave  Pave
           IR2               75       RM         90.0    22950   Pave   NaN
           Reg               75       RM         75.0    13500   Pave   NaN
80         IR1               80       RL          NaN    19690   Pave   NaN
           Reg               80       RL         75.0    13860   Pave   NaN
85         IR1               85       RL          NaN    12122   Pave   NaN
           Reg               85       RL         64.0     7301   Pave   NaN
90         IR1               90       RL          NaN    18890   Pave   NaN
           IR2               90       RM        110.0     8472   Grvl   NaN
           Reg               90       RM         78.0     7060   Pave   NaN
120        IR1              120       RM         64.0     5587   Pave   NaN
           IR2              120       RL         38.0    14963   Pave   NaN
           Reg              120       RL         65.0     8769   Pave   NaN
160        IR1              160       RL         44.0     5306   Pave   NaN
           IR2              160       FV          NaN     5105   Pave   NaN
           Reg              160       FV         35.0     3735   Pave   NaN
180        Reg              180       RM         35.0     3675   Pave   NaN
190        IR1              190       RL          NaN   164660   Grvl   NaN
           Reg              190       RH         60.0    10896   Pave  Pave

                    LotShape LandContour Utilities LotConfig  ... PoolArea  \
MSSubClass LotShape                                           ...
20         IR1           IR1         Lvl    AllPub    Inside  ...        0
           IR2           IR2         Lvl    AllPub   CulDSac  ...        0
           IR3           IR3         Low    AllPub    Inside  ...        0
           Reg           Reg         Lvl    AllPub    Inside  ...        0
30         IR1           IR1         HLS    AllPub    Inside  ...        0
           IR3           IR3         Bnk    AllPub    Inside  ...        0
           Reg           Reg         Lvl    AllPub    Inside  ...        0
40         Reg           Reg         Low    AllPub    Inside  ...        0
45         IR1           IR1         Bnk    AllPub    Inside  ...        0
           Reg           Reg         Bnk    AllPub    Inside  ...        0
50         IR1           IR1         Lvl    AllPub   CulDSac  ...        0
           IR2           IR2         Low    AllPub   CulDSac  ...        0
           Reg           Reg         Lvl    AllPub    Inside  ...        0
60         IR1           IR1         Lvl    AllPub    Corner  ...        0
           IR2           IR2         HLS    AllPub   CulDSac  ...        0
           IR3           IR3         HLS    AllPub   CulDSac  ...        0
           Reg           Reg         Lvl    AllPub    Inside  ...        0
70         IR1           IR1         Lvl    AllPub    Corner  ...        0
           Reg           Reg         HLS    AllPub    Inside  ...        0
75         IR1           IR1         Bnk    AllPub    Inside  ...        0
           IR2           IR2         Lvl    AllPub    Inside  ...        0
           Reg           Reg         Lvl    AllPub    Inside  ...        0
80         IR1           IR1         Lvl    AllPub   CulDSac  ...      738
           Reg           Reg         Lvl    AllPub    Inside  ...        0
85         IR1           IR1         Lvl    AllPub    Corner  ...        0
           Reg           Reg         Lvl    AllPub    Corner  ...        0
90         IR1           IR1         Lvl    AllPub    Inside  ...        0
           IR2           IR2         Bnk    AllPub    Corner  ...        0
           Reg           Reg         Lvl    AllPub    Inside  ...        0
120        IR1           IR1         HLS    AllPub    Inside  ...        0
           IR2           IR2         Lvl    AllPub    Inside  ...        0
           Reg           Reg         Lvl    AllPub    Corner  ...        0
160        IR1           IR1         Lvl    AllPub    Inside  ...        0
           IR2           IR2         Lvl    AllPub       FR2  ...        0
           Reg           Reg         Lvl    AllPub       FR3  ...        0
180        Reg           Reg         Lvl    AllPub    Inside  ...        0
190        IR1           IR1         HLS    AllPub    Corner  ...        0
           Reg           Reg         Bnk    AllPub    Inside  ...        0

                    PoolQC  Fence MiscFeature MiscVal MoSold  YrSold  \
MSSubClass LotShape
20         IR1         NaN    NaN         NaN       0      3    2010
           IR2         NaN    NaN         NaN       0      1    2006
           IR3         NaN    NaN         NaN       0      6    2009
           Reg         NaN    NaN         NaN       0      4    2009
30         IR1         NaN    NaN         NaN       0      8    2009
           IR3         NaN    NaN         NaN       0      6    2008
           Reg         NaN   GdWo         NaN       0      6    2007
40         Reg         NaN    NaN         NaN       0      4    2010
45         IR1         NaN    NaN         NaN       0      6    2007
           Reg         NaN  GdPrv         NaN       0      6    2007
50         IR1         NaN    NaN         NaN       0      3    2010
           IR2         NaN    NaN        Shed     500      6    2007
           Reg         NaN    NaN         NaN       0      4    2007
60         IR1         NaN    NaN         NaN       0      1    2007
           IR2         NaN    NaN         NaN       0      6    2010
           IR3         NaN    NaN         NaN       0      9    2006
           Reg         NaN    NaN         NaN       0      1    2009
70         IR1         NaN    NaN         NaN       0      5    2009
           Reg         NaN    NaN         NaN       0      9    2007
75         IR1         NaN    NaN         NaN       0      7    2009
           IR2         NaN  GdPrv         NaN       0      6    2006
           Reg         NaN    NaN         NaN       0      7    2008
80         IR1          Gd  GdPrv         NaN       0      8    2006
           Reg         NaN  MnPrv         NaN       0      7    2009
85         IR1         NaN    NaN         NaN       0      7    2008
           Reg         NaN    NaN         NaN       0      7    2009
90         IR1         NaN    NaN        Gar2    8300      8    2007
           IR2         NaN    NaN         NaN       0      5    2010
           Reg         NaN    NaN         NaN       0     11    2008
120        IR1         NaN    NaN         NaN       0     11    2008
           IR2         NaN    NaN         NaN       0     12    2008
           Reg         NaN    NaN         NaN       0     10    2008
160        IR1         NaN    NaN         NaN       0      6    2006
           IR2         NaN    NaN         NaN       0      3    2007
           Reg         NaN    NaN         NaN       0      3    2006
180        Reg         NaN    NaN         NaN       0      6    2008
190        IR1         NaN    NaN        Shed     700      8    2008
           Reg         NaN    NaN         NaN       0      3    2007

                     SaleType  SaleCondition  SalePrice
MSSubClass LotShape
20         IR1            New        Partial     611657
           IR2            New        Partial     423000
           IR3             WD         Normal     375000
           Reg             WD         Normal     555000
30         IR1             WD         Normal     163500
           IR3             WD         Normal      73000
           Reg            COD         Normal     153500
40         Reg             WD         Normal     260000
45         IR1             WD         Normal      87000
           Reg             WD         Normal     139400
50         IR1             WD         Normal     410000
           IR2             WD         Normal     277000
           Reg             WD         Normal     285000
60         IR1             WD         Normal     755000
           IR2             WD         Normal     538000
           IR3            New        Partial     274725
           Reg            New        Partial     582933
70         IR1             WD         Normal     265979
           Reg             WD         Alloca     359100
75         IR1             WD         Normal     214500
           IR2             WD         Normal     475000
           Reg             WD         Normal     325000
80         IR1             WD         Alloca     274970
           Reg             WD         Normal     345000
85         IR1             WD         Normal     178400
           Reg          ConLD         Normal     198500
90         IR1             WD         Normal     190000
           IR2             WD         Normal     110000
           Reg             WD         Alloca     206300
120        IR1            New        Partial     392500
           IR2             WD         Normal     245500
           Reg            New        Partial     367294
160        IR1             WD         Normal     239000
           IR2             WD         Normal     148800
           Reg             WD         Normal     183900
180        Reg             WD         Normal     148000
190        IR1             WD         Normal     228950
           Reg             WD        Abnorml     200000

[38 rows x 80 columns]

In [32]:
# when we groupby using multiple columns, pandas creates a multiindex using the columns specified in the groupby.
# use reset_index() to covert multiindex to regular index
MSSubClass_LotShape = X.groupby(['MSSubClass','LotShape']).SalePrice.max()
MSSubClass_LotShape.reset_index()

    MSSubClass LotShape  SalePrice
0           20      IR1     611657
1           20      IR2     423000
2           20      IR3     375000
3           20      Reg     555000
4           30      IR1     163500
5           30      IR3      73000
6           30      Reg     153500
7           40      Reg     260000
8           45      IR1      87000
9           45      Reg     139400
10          50      IR1     410000
11          50      IR2     277000
12          50      Reg     285000
13          60      IR1     755000
14          60      IR2     538000
15          60      IR3     274725
16          60      Reg     582933
17          70      IR1     265979
18          70      Reg     359100
19          75      IR1     214500
20          75      IR2     475000
21          75      Reg     325000
22          80      IR1     274970
23          80      Reg     345000
24          85      IR1     178400
25          85      Reg     198500
26          90      IR1     190000
27          90      IR2     110000
28          90      Reg     206300
29         120      IR1     392500
30         120      IR2     245500
31         120      Reg     367294
32         160      IR1     239000
33         160      IR2     148800
34         160      Reg     183900
35         180      Reg     148000
36         190      IR1     228950
37         190      Reg     200000

In [33]:
# running multiple functions using agg()
X.groupby('MSSubClass').SalePrice.agg(['min','max','median'])

               min     max  median
MSSubClass
20           35311  611657  159250
30           34900  163500   99900
40           79500  260000  142500
45           76000  139400  107500
50           37900  410000  132000
60          129000  755000  215200
70           40000  359100  156000
75          101000  475000  163500
80          107000  345000  166500
85          123000  198500  140750
90           82000  206300  135980
120          99500  392500  192000
160          75000  239000  146000
180          75500  148000   88500
190          55000  228950  128250

In [47]:
# reset index before sorting on any aggregated values
X.groupby('MSSubClass').SalePrice.median().reset_index().sort_values(by='SalePrice', ascending = False)

    MSSubClass  SalePrice
5           60     215200
11         120     192000
8           80     166500
7           75     163500
0           20     159250
6           70     156000
12         160     146000
2           40     142500
9           85     140750
10          90     135980
4           50     132000
14         190     128250
3           45     107500
1           30      99900
13         180      88500

In [50]:
# use sort_index() to sort on index columns in descending order, i.e. values 14 to 0 in the above output.
X.groupby('MSSubClass').SalePrice.median().sort_index(ascending = False)

MSSubClass
190    128250
180     88500
160    146000
120    192000
90     135980
85     140750
80     166500
75     163500
70     156000
60     215200
50     132000
45     107500
40     142500
30      99900
20     159250
Name: SalePrice, dtype: int64